@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif,'Nothing You Could Do';
}


body{
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(-45deg,#e573ebc7,#4bebcba6,#EBC034);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.todo-app{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 500px;
  background: #d9d9d98f;
  text-align: center;
  margin: 200px auto;
  border-radius: 20px;
  padding-bottom: 32px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.37)
}


h1 {
  margin: 40px 0 50px 40px;
  color: #fff;
  font-size: 30px;
  font-family: 'Nothing You Could Do', cursive;
}

h3 { 
  padding-block: 1rem;
  color: #fff;
  font-size: 10px;
  font-family: 'Trebuchet MS', cursive;
  text-align: center; 
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 17px 32px 17px 16px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #97C1C1;
  outline: none;
  width: 320px;
  background-color: #d9d9d98f;
  color: rgb(85, 85, 85);
}

.todo-input::placeholder {
  color: #97C1C1;
}

.todo-button {
  padding: 17px 19px 17px 14px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #97C1C1;
  cursor: pointer;
  outline: none;
  background-color: #97C1C1;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 1px solid #97C1C1;
}

.todo-button.edit {
  padding: 17px 19px 17px 14px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #8ec095;
  cursor: pointer;
  outline: none;
  background-color: #8ec095;
  color: rgb(85, 85, 85);
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px auto;
  color: #617777;
  background: #d9d9d98f;
  cursor: pointer;
    padding: 16px;
  border-radius: 5px;
  width: 80%;

}

.icons {
  display: flex;
  align-items: center;
  margin: 2px 2px 2px 2px;
  font-size: 22px;
  cursor: pointer;
}

.TodoImg {
  justify-content:flex-start ;
  margin: 40px 0 50px 40px;
  width: 50px;

}

.animate__animated.animate__fadeIn {
  animation: fadeIn; 
  animation-duration: 1s ; 
}

.title{
  display: flex;
  justify-content:center;
  margin: 10px 10px 0px 0px;
}


.logomy {
  width: 50px;
  height: 50px;
  margin-left: 200px;
}

.titlelogo {
  display: flex;
  align-items: center;
  margin: 10px 10px 0px 0px;
}

/* Responsive */

@media screen and (max-width: 600px) {
  .todo-app {
    width: 90%;
    margin: 100px auto;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 24px;
  }
  
  .todo-input {
    padding: 17px 32px 17px 16px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #97C1C1;
    width: 220px;
    font-size: 14px;
  }
  
  .todo-button {
    font-size: 14px;

  }
  
  .todo-row {
    font-size: 14px;
    width: 100%;
  }

  .logomy {
    width: 50px;
    height: 50px;
    margin-left: 50px;
  }
  
  .titlelogo {
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 0px;
  }
}


